%nomargin{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: none ;
}

.help-block .list-unstyled{
  color:red;
}

.app_navlink_right{float:right; padding-top: 15px; padding-right: 10px;}

.app_button{}