<div class="col-md-1 col-sm-2 col-xs-3">
    <img  style="height:130px; width:auto; background-color: dodgerblue; color: whitesmoke" src="{{asset('build/assets/images/dancers.png')}}" ></img>
</div>
<div class="col-md-11 col-sm-10 col-xs-9">
    <h2>Georgia Dancesport</h2>
    <h4>Making DanceSport Fair, Fun, & Affordable</h4>
</div>